<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    <span class="title">Quản lý</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/HocSinh/Index">Quản lý học sinh</a>
                    </li>
                    <li>
                        <a href="/Lop/ViewLop">Quản lý lớp học</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
